* {
    box-sizing: border-box;
}

form {
    width: 100%;
    margin: 10 auto;
}

input {
    display: block;
    outline: none;
    border: 2px solid #d5d5d5;
    padding: 10px;
}

input[type='text'] {
    width: 100%;
    height: 34px;
    margin-top: 10px;
}

label {
    font-weight: bold;
}

button {
    height: 40px;
    width: 108px;
    display: block;
    margin: 0 auto;
    background-color: #32ad9b;
    border: 1px solid #5f9796;
    color: #fff;
    font-weight: bold;
}